[worldserver]

###################################################################################################

#    mod-auto-revive

#    AutoRevive.Enable
#        描述：在死亡前启用自动复活，仅限GM账户。
#        默认值：1

#    AutoRevive.ZoneID
#        描述：在某个特定区域启用，如果是0，表示任何地方都启用。
#        默认值：0

AutoRevive.Enable = 1
AutoRevive.ZoneID = 0

###################################################################################################
